:root {
  	--primary: #FF8001;
  	--primary-light: color-mix(in oklab, var(--primary), white 25%);
    --white: #fff;
  	--white-transparent: #FFFFFF66;
    --black: #2e2b29;
    --gray-1: rgba(61, 37, 20, .05);
    --gray-2: rgba(61, 37, 20, .08);
    --gray-3: rgba(61, 37, 20, .12);
    --gray-4: rgba(53, 38, 28, .3);
    --gray-5: rgba(28, 25, 23, .6);
    --success: #30b474;
  	--info: #04b1d7;
  	--warning: #e8ad0e;
  	--danger: #f32866;
    --purple: #6a00f5;
    --purple-contrast: #5800cc;
    --purple-light: rgba(88, 5, 255, .05);
  	--bg-inputs: #434646;
  	--bg-containers: #313333;
    --shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04)
}

.root {
  padding: 4px;
}

/* Basic editor styles */
.tiptap {
  background-color: var(--bg-inputs);
	border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: var(--shadow);
  min-height: 45px;
  overflow-y: auto;
  
  :first-child {
    margin-top: 0;
  }

	* {
    color: var(--white);
  }
  
  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: revert;

    & {
    	margin: .25rem 0.4rem .25rem 1rem;    
    }

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}

/* Bubble menu */
.bubble-menu, .menu-bar {
  background-color: var(--bg-containers);
  outline: 1px solid var(--white);
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  display: flex;
  padding: 0.2rem;
  color: var(--white);
  gap: 5px;
  align-items: center;

  button {
    background-color: unset;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
      background-color: var(--white-transparent);
    }

    &.is-active {
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-light);
      }
    }
  }

  input {
    background-color: var(--bg-inputs): 
  }

  .custom-divider {
		width: 1px;
    height: auto;
    background-color: var(--white-transparent);
  }

  div:has(>#color-picker),
  div:has(>#bg-color-picker){
		position: relative;
		padding-inline: 2px;
    border-radius: 5px;
    
    &:hover {
      background-color: var(--white-transparent);
    }

    &.is-active {
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-light);
      }
    }
  }

	#color-picker,
  #bg-color-picker {
		opacity: 0;
    width: 19px;
    cursor: pointer;
  }

  #color-picker-icon,
  #bg-color-picker-icon {
		position: absolute;
    width: 19px;
    height: 100%;
  }

	div:has(>#font-size) {
  	padding-inline: 2px;
  }
  
  #font-size {
		height: 100%;
    font-size: 16px;
    font-weight: 600;
    width: 50px;
		border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding-inline: 2px;
  }

	details {
		position: relative;
    
		summary {
      font-size: 0.9rem;
    	padding: 5px;
      cursor: pointer;
      border-radius: 5px;

			&:hover {
				background-color: var(--white-transparent);
      }
      
      &::marker {
    		display: none;
    		content: "";
      }
    }

    ul {
			position: absolute;
			font-size: 0.9rem;
			top: calc(100% + 5px);
			left: 50%;
			transform: translateX(-50%);
			color: var(--white);
    	background-color: var(--bg-containers);
    	border-radius: 0 0 5px 5px;
    }

    li {
      color: inherit;
      font-size: inherit;
    }
    
  }
  
}